.idea/

*.egg-info
*.pot
*.py[co]
.tox/
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
#ignore virtual envs
/bin
/include
/lib

# ignore db, because it's personal and everybody does at least have an initial one
db.sqlite3

#ignore for kenny
/kennylocal
/secret_key.txt
